# Python
__pycache__/
*.py[cod]
*.class

# Logs
logs/*
*.log

# Environment
.env
.venv
env/
venv/
ENV/

# IDE
.vscode/
.lingma/
.idea/
.conda/


# OS
.DS_Store

# Project specific
tools/Miniconda3-latest-MacOSX-arm64.sh

# Debug files (optional, can be commented to track test files)
debug/
userdata/
docs/
examples/
